// Who's Willow?
.about article {
  padding: 80px 0;
  @media (max-width: 800px) {
    padding: 80px 0 40px;
  }
  &:first-of-type {
    padding-bottom: 120px;
    text-align: center;
  }
  &:first-of-type,
  &:last-of-type {
    background-color: $white-shade;
  }
  .textContainer {
    * {
    margin: 40px 10px;
    @media (max-width: 800px) {
      margin: 30px 0;
    }
    }
  }
}

// Favourite Things and Bucket List
.about .twoByTwo article {
  background-color: #fff;
  padding: 0px 0px;
  @include flex(wrap, row, end, space-between);
  &:first-of-type {
    margin-bottom: 80px;
    @media (max-width: 800px) {
      margin-bottom: 20px;
    }
  }
  .imgContainer {
    position: relative;
    flex-basis: 50%;
    @media (max-width: 800px) {
      flex-basis: 100%;
    }
    &:nth-of-type(odd) {
      box-shadow: 15px 15px $green-grey, -25vw 15px $green-grey;
      bottom: 30px;
    }
    &:nth-of-type(even) {
      box-shadow: 15px 15px $pine, 25vw 15px $pine;
      bottom: -15px;
    }
  }
  .textContainer {
    height: 100%;
    flex-basis: 50%;
    @media (max-width: 800px) {
      flex-basis: 100%;
    }
    &:nth-of-type(odd) {
      padding-right: 80px;
      text-align: right;
      @media (max-width: 800px) {
        padding-right: 0px;
      }
      h3 {
        margin: 15px 0;
      }
      a {
        margin: 0px 0px 90px;
        @media (max-width: 800px) {
          margin: 0px 0px 40px;
        }
      }
    }
    &:nth-of-type(even) {
      padding-left: 80px;
      text-align: left;
      @media (max-width: 750px) {
        padding-left: 0px;
      }
      a {
        margin: 15px 0;
      }
    }
  }
}

// Willow's Journey
.journey .wrapper {
  text-align: left;
  @include flex(nowrap, row, center, space-between);
  @media (max-width: 800px) {
    flex-direction: column;
  }
  .imgContainer {
    margin-left: 0px;
    width: calc(30% - 40px);
    min-width: 300px;
    @media (max-width: 800px) {
      margin: 50px 0;
      width: 55%;
    }
    img {
      box-shadow: 15px 15px 0px $green-grey;
    }
  }
  .textContainer {
    width: calc(70% - 100px);
    @media (max-width: 800px) {
      width: calc(100% - 20px);
    }
  }
}