.about article {
  padding: 100px 0;
  &:first-of-type {
    padding-bottom: 150px;
    text-align: center;
  }
  &:first-of-type,
  &:last-of-type {
    background-color: $white-shade;
  }
  .wrapper {
    h2, h3, p, a {
    margin: 40px 10px;
    }
  }
}

.journey .wrapper {
  text-align: left;
  @include flex(wrap, row, center, space-between);
  .imgContainer {
    margin-left: 0px;
    width: calc(30%% - 80px);
    img {
      box-shadow: 15px 15px 0px $green-grey;
    }
  }
  .textContainer {
    width: calc(70% - 80px);
  }
}