.carousel {
  height: 600px;
  width: 600px;
  position: relative;
  left: -2%;
  transition: transform 1s ease-out;
  transform-style: preserve-3d;
  transform-origin: center calc(50% - 15px) -150px;
  @media (max-width: 700px) {
    height: 450px;
    width: 450px;
  }
  @media (max-width: 525px) {
    height: 300px;
    width: 300px;
  }
}

.side {
  position: absolute;
  width: 100%;
  transform: translateZ(50px);
  backface-visibility: hidden;
}

.side1 {
  transform: rotateY(120deg) translate3d(125px, 0px, 250px);
}

.side2 {
  transform: rotateY(240deg) translate3d(-125px, 0px, 250px);
}

.sideVisible-0 {
  transform: rotateY(0deg);
}

.sideVisible-1 {
  transform: rotateY(-120deg);
}

.sideVisible-2 {
  transform: rotateY(-240deg);
}

.photoButton {
  position: absolute;
  background-color: $accent;
  color: $black;
  backface-visibility: hidden;
  border: none;
  border-radius: 50%;
  outline: none;
  height: 60px;
  width: 60px;
  font-size: 3rem;
  cursor: pointer;
  // z-index: 200;
}

.closeButton {
  top: -20px;
  left: -20px;
}

.nextPhoto {
  bottom: -30px;
  right: -30px;
}

.previousPhoto {
  bottom: -30px;
  left: -20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}