@mixin flex($wrap, $direction, $align, $justify) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin bannerRatio {
  flex-basis: 100%;
  height: calc(100vw / 3.2);
}