@mixin flex($wrap, $direction, $align, $justify) {
  display: flex;
  flexwrap: $wrap;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

// todo delete if unneeded
@mixin cutout {
  position: relative;
  right: 15px;
  bottom: 15px;
}