.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  @include flex(nowrap, row, center, center);
}

.imageOverlay {
  transition: all 0.3s ease;
}

.modalMessage {
  min-height: 200px;
  width: 40%;
  min-width: 300px;
  padding: 10px;
  background-color: $white-shade;
  color: $black;
  box-shadow: 15px 15px 0 $green-grey;
  @include flex(wrap, column, center, space-evenly);
}

.modalImage {
  position: relative;
  width: 70%;
  min-width: 310px;
  max-width: 650px;
  box-shadow: 15px 15px 0 $white-shade;
}

.closeButton {
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: $accent;
  color: $black;
  border: none;
  border-radius: 50%;
  outline: none;
  height: 60px;
  width: 60px;
  font-size: 3rem;
  cursor: pointer;
}
