// Colour variables
$accent: #E4A436;
$black: #1F1F1F;
$green-grey: #709B6B;
$pine: #345231;
$white-shade: #F6F6F6;

// Font variables
$abril: 'Abril Fatface', cursive;
$mont: 'Montserrat', sans-serif;
