// Imports
@import 'setup';
@import 'variables';
@import 'typography';
@import 'mixins';

@import 'header';
// @import 'navbar';
@import 'navbarJavaScript';
@import 'about';
@import 'gallery';
@import 'pageLinks';
@import 'blogMain';
@import 'contactForm';
@import 'contactMain';
@import 'overlay';

// Utility classes
.wrapper {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

.invisible {
  display: none;
}

.footer {
  span {
    background-color: $black;
    color: $white-shade;
    display: block;
    padding: 10px;
    text-align: center;
  }
}


